<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">

    <!-- FEATURED -->
    <section class="section">

        <div class="section__head">
            <h1 class="section__title">Featured</h1>
            <a th:href="@{/games(filter='featured')}">Explore All</a>
        </div>

        <div class="card-grid card-grid--6">

            <a th:each="game : ${featuredGames}"
               th:href="@{/games/{id}(id=${game.id})}"
               class="game-card">

                <img th:src="${game.imageUrl}" alt="">

                <div class="game-card__body">
                    <h3 th:text="${game.title}"></h3>
                    <p th:text="${game.price != null ? '$' + game.price : 'Free'}"></p>
                </div>

            </a>
        </div>

    </section>

    <!-- BROWSE BY GENRES -->
    <section class="section">

        <div class="section__head">
            <h2 class="section__title">Browse By Categories</h2>
            <a th:href="@{/games(genre='Action')}">Explore All</a>
        </div>

        <div class="category-grid">

            <a th:each="genre : ${homeGenres}"
               th:href="@{/games(genre=${genre})}"
               class="category-card">

                <img th:src="@{'/images/genres/' + ${genre} + '.png'}">

                <div class="category-card__overlay"></div>

                <span th:text="${genre}"></span>

            </a>

        </div>

    </section>

    <!-- RECENTLY ADDED -->
    <section class="section">

        <div class="section__head">
            <h2 class="section__title">Recently Added</h2>
            <a th:href="@{/games(sort='recent')}">Explore All</a>
        </div>

        <div class="card-grid card-grid--6">
            <a th:each="game : ${recentGames}"
               th:href="@{/games/{id}(id=${game.id})}"
               class="game-card">

                <img th:src="${game.imageUrl}" alt="">

                <div class="game-card__body">
                    <h3 th:text="${game.title}"></h3>
                    <p th:text="${game.price != null ? '$' + game.price : 'Free'}"></p>
                </div>
            </a>
        </div>

    </section>
</div>