<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">


        <div class="card-grid card-grid--4">
            <article class="library-card">
                <img src="https://images.unsplash.com/photo-1511512578047-dfb367046420?w=500&q=80" alt="">
                <div class="library-card__body">
                    <h3>Red Dead Redemption 2</h3>
                    <button class="btn btn--primary btn--full">More info</button>
                </div>
            </article>
        </div>
    </section>
</div>